body
{
    color: rgb(255, 255, 255);
    background: rgb(204, 173, 230);
}
.heading
{
    width: 80%;
    font-size: 22px;
}
#camera
{
    border: 2px dashed rgb(255, 183, 195);
    width: 350px;
    height: 300px;
}
.name_of_objects, #result_object_name, #result_object_accuracy
{
    color: rgb(243, 153, 153);
}